# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Environment variables
# 一時的にコメントアウト（Streamlitデプロイのため）
# .env
# .streamlit/secrets.toml
# src/.streamlit/secrets.toml
# C:\Users\user\menu01\menu\.streamlit\secrets.toml


